
body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.hero {
  display: flex;
  gap: 10px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
}

.hero-main {
  flex: 2;
  background: black;
  color: white;
}

.main-grid {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.main-grid > div {
  flex: 1;
}

#notesList div {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  cursor: pointer;
}

.editor {
  display: none;
}
